@page "{tiid}"
@model TrainingWebApp.Pages.Trainings.DeleteModel
@{
}
@using ZelisTrainingDB;
<h2>Delete Training</h2>
<label asp-for="Training.TrainingId">Training ID:</label>
@Model.Training.TrainingId
<br />
<label asp-for="Training.TrainerId">Trainer ID:</label>
@Model.Training.TrainerId
<br />
<label asp-for="Training.TechnologyId">Technology ID:</label>
@Model.Training.TechnologyId
<br />
<label asp-for="Training.StartDate">Start Date:</label>
@Model.Training.StartDate
<br />
<label asp-for="Training.EndDate">End Date:</label>
@Model.Training.EndDate
<br />
<form method="post">
    <input type="submit" value="Delete" />
</form>
<a href="/Technologys/Index">Back to page</a>
